#navlist{
    list-style-type: none;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-left: 15px;
    margin-right: 15px; */
    align-items: center;
    padding: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contaier{
    width: 100vw;
    height: 100vh;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg ,#e2e5e8 0%, #ffffff 100%);

}

.navcontainer{
    width: 100vw;
    background-color: #0093E9;
    background-image: linear-gradient(160deg ,#0093E9 0%, #80D0C7 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navlogo{
    font-size: 2.8rem;
    color: white;
}

nav{
    width: 100%;
    overflow-x: none;

}

a{
    text-decoration: none;
    color: azure;
}

#navitems{
    display: flex;
    gap: 40px;
    
}

.FooterBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg ,#0093E9 0%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.FooterBox p{
    font-size: 2rem;
    color: azure;
}

.contentBox{
    width: 50%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black
}

.items{
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftbox{
    padding: 8px;
    position: relative; 
}

.leftbox img{
    position: absolute; 
    top: 25px;
    right: 0;
    border-radius: 20px;
    margin: 5px;
    transition: all 0.6s linear 0s ;
}

.leftbox img:hover{
    transform:scale(1.1);
}

.rightbox{
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.rightbox img{
    position: absolute;
    top: 25px;
    right: 0;
    border-radius: 20px;
    margin: 5px;
    width: 300px;
    height: 168px;
    transition: all 0.6s linear 0s ;
}

.rightbox img:hover{
    transform:scale(1.1);
}



ul{
    padding: 10px;
    font-size: 14px;
    margin: 4px;
}
ol{
    padding: 10px;
    font-size: 14px;
    margin: 4px;
}


